Source: libparallel-mpi-simple-perl
Section: perl
Priority: optional
Maintainer: Don Armstrong <don@debian.org>
Build-Depends: debhelper (>= 8),
 perl,
 perl-modules, openmpi-bin, libopenmpi-dev, ssh
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/Parallel-MPI-Simple/

Package: libparallel-mpi-simple-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends},
 perl, mpi-default-bin
Description: perl wrapper around MPI libraries
